<html>
<head>
  <title>Página Home</title>
</head>
<body>
  <h1>Título da página</h1>
  <hr/>

  {{#showWelcome}}
   <p> Opa, {{ name }} {{ lastName }}, tudo bem? </p>
  {{/showWelcome}}
</body>
</html>